/**
 * =================================================================== 
 *
 *  ResumeTemplate v1.0 ClearCareer
 *  url: clearcareer.ca
 *  Design by: Iskender Piyale-Sheard
 *  website: izzydoesizzy.com
 *  Created 06-27-2016
 *  Last Updated: 03-19-2017
 *  ------------------------------------------------------------------
 *  Table of Contents:

 *  01. Global Styles
 *  02. Intro
 *  03. Social Icons
 *  04. Icon Fonts
 *  05. Section Styles
 *  06. Timeline Styles
 *  05. Footer
 EXTRAS

 * =================================================================== 
 */

/* 01. Basic Styles
 * =================================================================== */

 html {
    overflow-x: hidden;
 }
 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

 h1 {
    font-weight: bold;
 }

 h2 {
 }

 h5 {
    font-weight: 600;
 }

 a {
    cursor: pointer;
    color: #6bacc6;
    text-decoration: none;
 }

 a:hover {
    text-decoration:none;
    color: #6bacc6;
    opacity: 0.9;
 }

 hr {
    border-top: 5px solid #6bacc6;
    width: 80px;
    padding-bottom: 20px;
 }


 .colour-splash {
    color: #6bacc6;
 }

 .section-primary span {
    color: #6bacc6;
    font-weight: bolder;
    opacity: 1;
 }








/* 02. Intro
 * =================================================================== */

 .section-image {
 	background: url('../images/IMGP8683.JPG') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
    display:table;
 }

 .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .5;
 }

 .intro {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro .row {
    margin-right: 0;
    margin-left:0;
}

.intro h1 {
    font-size: 84px;
}

.intro h5 {
    color: #6bacc6;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.section-image span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

.section-image h1 {
    margin-top: 0;
}

.section-image p {
    font-weight: lighter;
    opacity: 0.9;
}



/* 03. Social Icons
 * =================================================================== */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

.social a:hover{
  opacity: 0.6;
}

.social-footer {
    position: block;
    padding: 15px;
}

.social-footer a {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-size: 1.7em;
}


/* 04. Icon Font
 * =================================================================== */

 .lnr {
    font-size: 4em !important;
    color:#fff;
 }

/* 05. Section Styles
 * =================================================================== */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profilepic {
    height: 150px;
    width: auto;
    border-radius: 300px;
}

.section-primary p {
    text-align: justify;
}

.section-primary {
    border: #6bacc6;
}

.section-colour {
    background-color: #6bacc6;
    color: #fff;
}

.section-colour p {
    text-align: justify;
}

.section-heading .lead, .section-heading h2 {
    text-align: center;
}

.section-colour {
    border: #fff;
}

.section-colour hr {
    border-top: 5px solid #fff;
 }



/* 01. Timeline Styles
 * =================================================================== */

.timeline-icon .fa {
    color: white;
    margin: 14px;
    font-size: 1.7em;
}

#skills {
    background: #151515 url('../images/IMGP8675.JPG') no-repeat center center;
    height: auto;
}


/* 05. Footer
 * =================================================================== */

footer {
    display: block;
    position: static;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 50px 0;

}

footer p {
    padding: 15px;
    opacity: 0.8;
}


/* EXTRAS
 * =================================================================== */



        /* Mouse Icon
         * =================================================================== */
        .mouse-icon {
            border: 2px solid #fff;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
        .mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
        .mouse-icon .scroll {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        /* /Mouse Icon
         * =================================================================== */

 
/* Media Queries
 * =================================================================== */

@media (max-width: 480px) {
    .social a {
        padding: 0.4em;
        font-size: 0.9em;
    }

    .social-footer {
        text-align: center;
        position:block;
        text-align: center;
    }

    .social-footer a {
        padding: 0.3em;
        font-size: 1.6em;

    }

    .intro-desc {
        font-size: 0.7em;
    }

    .section-image span {
        font-size: 1em;
        padding: 0 1px;

}

    .intro h1 {
        font-size: 50px;
        padding-top: 15px;
    }

    footer {
        text-align: center;
        padding-bottom: 100px;
    }

    #skills {
        background: #151515 url(https://images.unsplash.com/photo-1456983933114-c22026990f4b?dpr=2&auto=format&crop=entropy&fit=crop&w=1280&h=720&q=80) no-repeat center center;
        background-position: top center;

    }
}

@media (max-width: 991px) {
    .social-footer {
        text-align: center;
    }

    footer p {
    text-align: center;
    }

}



.parent{

display: grid;

grid-template-columns: 1fr 1fr 1fr;

column-gap: 5px;

}











@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.cd__main{
   display: block !important;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  max-width: 650px;
  height: 450px;
  margin: 15px auto;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;

}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
