/**
 * =================================================================== 
 *
 *  ResumeTemplate v1.0 ClearCareer
 *  url: clearcareer.ca
 *  Design by: Iskender Piyale-Sheard
 *  website: izzydoesizzy.com
 *  Created 06-27-2016
 *  Last Updated: 03-19-2017
 *  ------------------------------------------------------------------
 *  Table of Contents:

 *  01. Global Styles
 *  02. Intro
 *  03. Social Icons
 *  04. Icon Fonts
 *  05. Section Styles
 *  06. Timeline Styles
 *  05. Footer
 EXTRAS

 * =================================================================== 
 */

/* 01. Basic Styles
 * =================================================================== */

 html {
    overflow-x: hidden;
 }
 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

 h1 {
    font-weight: bold;
 }

 h2 {
 }

 h5 {
    font-weight: 600;
 }

 a {
    cursor: pointer;
    color: #6bacc6;
    text-decoration: none;
 }

 a:hover {
    text-decoration:none;
    color: #6bacc6;
    opacity: 0.9;
 }

 hr {
    border-top: 5px solid #6bacc6;
    width: 80px;
    padding-bottom: 20px;
 }


 .colour-splash {
    color: #6bacc6;
 }

 .section-primary span {
    color: #6bacc6;
    font-weight: bolder;
    opacity: 1;
 }








/* 02. Intro
 * =================================================================== */

 .section-image {
 	background: url('../images/IMGP8683.JPG') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
    display:table;
 }

 .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .5;
 }

 .intro {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro .row {
    margin-right: 0;
    margin-left:0;
}

.intro h1 {
    font-size: 84px;
}

.intro h5 {
    color: #6bacc6;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.section-image span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

.section-image h1 {
    margin-top: 0;
}

.section-image p {
    font-weight: lighter;
    opacity: 0.9;
}



/* 03. Social Icons
 * =================================================================== */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

.social a:hover{
  opacity: 0.6;
}

.social-footer {
    position: block;
    padding: 15px;
}

.social-footer a {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-size: 1.7em;
}


/* 04. Icon Font
 * =================================================================== */

 .lnr {
    font-size: 4em !important;
    color:#fff;
 }

/* 05. Section Styles
 * =================================================================== */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profilepic {
    height: 150px;
    width: auto;
    border-radius: 300px;
}

.section-primary p {
    text-align: justify;
}

.section-primary {
    border: #6bacc6;
}

.section-colour {
    background-color: #6bacc6;
    color: #fff;
}

.section-colour p {
    text-align: justify;
}

.section-heading .lead, .section-heading h2 {
    text-align: center;
}

.section-colour {
    border: #fff;
}

.section-colour hr {
    border-top: 5px solid #fff;
 }



/* 01. Timeline Styles
 * =================================================================== */

.timeline-icon .fa {
    color: white;
    margin: 14px;
    font-size: 1.7em;
}

#skills {
    background: #151515 url('../images/IMGP8675.JPG') no-repeat center center;
    height: auto;
}


/* 05. Footer
 * =================================================================== */

footer {
    display: block;
    position: static;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 50px 0;

}

footer p {
    padding: 15px;
    opacity: 0.8;
}


/* EXTRAS
 * =================================================================== */



        /* Mouse Icon
         * =================================================================== */
        .mouse-icon {
            border: 2px solid #fff;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
        .mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
        .mouse-icon .scroll {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        /* /Mouse Icon
         * =================================================================== */

 
/* Media Queries
 * =================================================================== */

@media (max-width: 480px) {
    .social a {
        padding: 0.4em;
        font-size: 0.9em;
    }

    .social-footer {
        text-align: center;
        position:block;
        text-align: center;
    }

    .social-footer a {
        padding: 0.3em;
        font-size: 1.6em;

    }

    .intro-desc {
        font-size: 0.7em;
    }

    .section-image span {
        font-size: 1em;
        padding: 0 1px;

}

    .intro h1 {
        font-size: 50px;
        padding-top: 15px;
    }

    footer {
        text-align: center;
        padding-bottom: 100px;
    }

    #skills {
        background: #151515 url(https://images.unsplash.com/photo-1456983933114-c22026990f4b?dpr=2&auto=format&crop=entropy&fit=crop&w=1280&h=720&q=80) no-repeat center center;
        background-position: top center;

    }
}

@media (max-width: 991px) {
    .social-footer {
        text-align: center;
    }

    footer p {
    text-align: center;
    }

}



.parent{

display: grid;

grid-template-columns: 1fr 1fr 1fr;

column-gap: 5px;

}









html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 25%;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
